{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-flare Gas Booking System</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg> -->
	  <style>
		

.toast_cust {
    position: absolute;
    top:0;
    right: 0;
	z-index: 10;
    transform: translate(-50%, -50%);
    max-width: 300px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    opacity: 1;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}


		
	  </style>
</head>
<body>

    <header>
        <h1 class="title">E-flare</h1>
        
        
        <marquee behavior="scroll" direction="right">
            E-Flare : An innovative booking system
        </marquee>
    </header>
    <div class="about">
        Welcome to E-Flare , where convenience meets reliability in managing your gas supply needs. 
        Our online gas booking system is designed to streamline the process of booking and managing gas deliveries, ensuring a hassle-free experience for our valued customers.<br>
       <br>
        <div> <h2>Our Vision</h2>
        
        At E-Flare, our vision is to revolutionize the way you book and receive gas. 
        We aim to provide a seamless and user-friendly platform that empowers customers to effortlessly schedule gas deliveries, monitor usage, and stay informed about their gas supply.<br>

       
    </div></div>
	
    <div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						{% if messages %}
    <ul class="messages">
        {% for message in messages %}
		<div class="toast_cust">
	<p>{{message}}</p>
</div>
        {% endfor %}
    </ul>
{% endif %}
				
						<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<form action="{% url 'login' %}" method="post">
												{% csrf_token %}
											<h4 class="mb-4 pb-3">Log In</h4>

											<div class="form-group">
												<input type="text" name="email" class="form-style" placeholder="Your Email" id="logname" autocomplete="off">

												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<button class="btn mt-4" type="submit">submit</button>
											</form>
				      					</div>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<form action="{% url 'signup' %}" method="post">
												{% csrf_token %}
											<h4 class="mb-4 pb-3">Sign Up</h4>
											<div class="form-group">
												<input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<button class="btn mt-4" type="submit">submit</button>
										</form>

										</div>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
     
        
    <!-- <footer>
        <p>&copy; 2024 Gas Booking System. All rights reserved.</p>
    </footer> -->
	<!-- <a href="{% url 'admin_login' %}" ><button id="admin_logo">ADMIN</button></a> -->

</body>
</html>
